---
layout: base
---

{% include 'webring.njk' %}

<div class="sidebar">
  <h2>HOW TO MAKE A CHARCOAL WATER FILTRATION SYSTEM</h2>

  <h3>Materials</h3>
    <ul>
      <li>Charcoal stove such as <a href="https://www.youtube.com/watch?v=YIbGkmt1VdE">top-lit updraft (TLUD) stove</a></li>
      <li>Wood feedstock – the best woods are pine, cedar, oak, maple, paulownia, willow, ash, and alder</li>
      <li>Freshwater for quenching charcoal</li>
      <li>12V DC transfer pump rated for at least 6 GPH</li>
      <li>4”x5ft PVC pipe, sch. 40</li>
      <li>Two 4” PVC female threaded cleanout adapters</li>
      <li>Two 4” threaded plugs for female adapters</li>
      <li>Two garden hose thread adapters</li>
      <li>Three garden hoses</li>
      <li>Filter mesh screen</li>
      <li>PVC cement</li>
      <li>Food-grade silicone caulk</li>
      <li>Sustainably harvested moss</li>
    </ul>

  <h3>Filter Construction</h3>
    <ol>
      <li>Glue threaded female adapters onto ends of PVC pipe.</li>
      <li>Secure a garden hose adapter into each threaded plug.</li>
      <li>Seal hose adapters with silicone.</li>
      <li>Attach hoses to adapters.</li>
    </ol>

  <img src="https://i.imgur.com/pgwWlCB.png"/>

  <h3>Filter Filling</h3>
    <ol>
      <li>Make charcoal with desired method.</li>
      <li>Pulverize charcoal to coarse grains or chunks.</li>
      <li>Pack one end of the filter pipe with a few handfuls of moss.</li>
      <li>Screw the plug into the end with the moss.</li>
      <li>From the empty end, pour pulverized charcoal into pipe to fill it.</li>
      <li>Agitate pipe to settle charcoal.</li>
      <li>Pack moss on top of the charcoal.</li>
      <li>Screw the second plug into its fitting.</li>
      <li>Run water through the filter for several minutes to wash charcoal.</li>
    </ol>

  <img src="https://i.imgur.com/CvmvkfZ.png"/>

  <h3>System Setup</h3>
    <ol>
      <li>Attach filter mesh screen onto one end of hose A.</li>
      <li>Submerge and tilt hose A to fill it with freshwater, then keep the ends up.</li>
      <li>Screw the other end of hose A onto the inlet side of the pump.</li>
      <li>Screw hose B onto the outlet side of the pump.</li>
      <li>Position the pump below a section of hoses A & B so that it will never run dry.</li>
      <li>Place the filtered end of hose A in your freshwater source, away from leaves, silt, or muck.</li>
      <li>Screw the other end of hose B onto the inlet of the charcoal filter column.</li>
      <li>Screw hose C onto the outlet of the filter column.</li>
      <li>Put the other end of hose C into the filtered water cistern.</li>
      <li>Properly label the cistern as “Filtered Water – Non-potable – Do Not Drink”.</li>
      <li>Connect the pump to power, ensuring that it’s properly grounded and insulated.</li>
    </ol>

  <h2>Overview</h2>
      <p>Water filtration is a necessary aspect of a sustainable garden. To remain decentralized, we needed a method to purify our own water. Since we planned to grow food crops and the water would be sourced from natural bodies of water, the water should be filtered to remove contaminants for use on plants and boiled to kill microbes for use in cooking, drinking, and washing produce. An estimate of maximum water usage is 2.5cm (1in) of water each day over the entire garden plot, equating to 190L per week for the 8x10ft plot.</p>
      <p>First, desalination by distillation was considered, as this method is low-tech and may be used to purify saline or murky water into a form which is potable. Since this method boils and condenses the water, no prior filtration is necessary, and the resulting water is very pure and sterile.</p>
      <p>Second, desalination by reverse osmosis was considered. Reverse osmosis is an advanced technique which can purify saline or murky water by forcing water through a filtration system at high pressure. The resulting water can be used for watering crops and is potable.</p>
      <p>Third, charcoal filtration was considered. This method is low-tech and useful for removing certain ions, particulates, and microbes. However, the resulting water is not necessarily safe to drink, but it is definitely better than using murky or stagnant water on crops.</p>
    <h3>Energy Analysis</h3>
      <p>Since we planned on powering our entire garden system with solar panels and the lights already represented a large energy drain, the filtration system needed to be low power, else many solar panels and batteries would be required. Since batteries and solar panels are costly and Bellingham has relatively little sunshine and open land, adding more solar panels was considered to be a non-ideal scenario.</p>
      <p>Distillation uses an immense amount of energy. This is because the water must not only be boiled, but must also undergo a phase transition into gas. Since water has a very high heat of vaporization of 627Wh/L (2.26MJ/L), and around 190L would be required each week, distillation of one week’s water would require around 120kWh (430MJ), equivalent to running a 60W lightbulb for 2000 hours (83 days).</p>
      <p>Reverse osmosis uses a moderate to large amount of energy because it employs a high pressure pump. On the low end, these systems run at 250W while producing purified water at 32L/h, meaning that the weekly energy requirement to produce 190L of water is 1.5kWh, equivalent to running a 60W lightbulb for 24 hours.</p>
      <p>Charcoal filtration uses a very small amount of energy. The charcoal is produced by partial combustion (pyrolysis) of wood, which takes no electrical energy. The only electrical energy required for this method is that which is used to run a pump to feed water through the filter and into the cistern. Since a suitable pump can be found which will run at 84W while pumping over 1000L/h, this will only require around 14Wh or 0.014kWh per week.</p>
    <h3>Financial analysis</h3>
      <p>In order to aid in keeping our project realistic and relevant to the real world, we agreed upon a self-imposed budget goal of $2000 total for the project. This would allow for our project to be accessible to many more people than one which would require more long-term saving.</p>
      <p>Distillation would require little money to set up. The materials required included a hotplate, steel drum, tubing, insulation, and bucket. Most of these could be found as scrap or secondhand for very cheap, with an expected cost of around $60 and a maximum total cost of around $90.</p>
      <p>Reverse osmosis is extremely expensive. Systems vary significantly, but a small one suitable for our purposes would cost around $5000. Preowned systems tend to cost around $1000.</p>
      <p>Charcoal filtration would have a medium cost. The materials required included a charcoal stove (e.g. TLUD), transfer pump, some PVC pipe parts, and three garden hoses. Many of these parts could be found as scrap or secondhand for very cheap, giving an expected cost around $179 and a maximum total cost of around $234.</p>
    <h3>Ecological analysis</h3>
      <p>The last factor which required consideration was the sustainability and ecological impact of a filtration method. This last aspect was more complex than the others, as it was more qualitative than quantitative, and included several facets such as material independence, sustainability, and pollution.</p>
      <p>Distillation would have no ecological impact, as solar power would be used to electrically heat water, which would be naturally condensed by a bucket of “coolant” water. This is highly sustainable, produces no pollution, and promotes decentralization through independence by relying on no external resource.</p>
      <p>Reverse osmosis has very low ecological impact, as the filters only need to be replaced every year or two. The charcoal filters could be refilled with homemade charcoal to promote sustainability and decentralization, but the membrane filter must be replaced with a newly manufactured filter, which produces some waste and does not lend toward decentralization.</p>
      <p>Charcoal filtration has a low ecological impact. The charcoal and moss within the filter should be replaced every few months. Moss grows prolifically around Bellingham, so sustainable harvesting of bryophytes should present no issue. The charcoal production requires pyrolysis of wood, which may release some air pollutants such as NOx, SO2, CH4, CO, and CO2, but the TLUD design minimizes release of all except CO2, and burning wood is carbon neutral anyway. Old filtration media may be used to enrich soil, promoting sustainability. This method relies upon no external materials, promoting decentralization.</p>
    <h3>Conclusions</h3>
      <p>After extensive analysis of each filtration method, charcoal filtration was determined to be the most suitable to our use case. This is because charcoal filtration has a reasonable cost, low ecological impact with high sustainability and independence, and very low energy usage. Distillation was deemed unsuitable because of the very high energy usage, and reverse osmosis was rejected due to the prohibitive setup cost. The downside of charcoal filtration is that, unlike the other methods, it cannot make brackish or saline water usable for irrigation. However, this ability was viewed as a convenience rather than a necessity, as Bellingham has plentiful bodies of freshwater. Therefore a charcoal filtration system best fulfills the needs for a system to have low energy use, cost, and ecological impact while maintaining a high level of sustainability and material independence.</p>
</div>
