---
layout: base
---

{% include 'webring.njk' %}

  <div class="sidebar">
    <h2>General Analysis</h2>
      <p><b>Power density</b> – How many kWh can the battery store</p>
      <p><b>Discharge cycles</b> – The amount of times a battery can charge and discharge.</p>
      <p><b>Sustainability</b> – How much of the battery can be recycled.</p>
      <p><b>Cost</b> – balance cost with discharge cycle, power density, and sustainability.</p>

   <h3>Battery Options</h3>
   <table style="width:100%">
    <tr>
      <th></th>
      <th>Lead Acid Battery</th>
      <th>Lithium Ion Battery</th>
    </tr>
    <tr>
      <td>Power Density</td>
      <td></td>
      <td>Better</td>
    </tr>
    <tr>
      <td>Discharge Cycle</td>
      <td></td>
      <td>Better</td>
    </tr>
    <tr>
      <td>Sustainability</td>
      <td>About the Same</td>
      <td>About the Same</td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>Better</td>
      <td></td>
    </tr>
  </table> 

  <h3>Construction</h3>
    <p>The Batteries will be placed underneath solar panel structure. A micro controller will control when the batteries are charge or not to prevent over charging.</p>
    <p>Our system runs at 12V. Using the Trojan T-105 6V lead acid battery, we will put two batteries in series. Any increase in power storage will be handled by connecting a pair of batteries in series, in parallel with each other. </p>

  <img src="https://www.trojanbattery.com/wp-content/uploads/2019/01/T105_Bayonet_LT.png"/>

  <h2>Analysis Conclusion</h2>
    <p>The two contenders for the solar garden power supply were lead – acid batteries, and lithium ion batteries. Hands down lithium ion batteries are the better option for this project in terms of utility. They have a higher power density and have a larger amount of discharge cycles than lead acid batteries. Unfortunately, they cost a lot of money. Lead – acid batteries work for this project because we are not concerned about power density since we do not need to move the power supply around. Also, while discharge cycles are extremely important for this project, lead – acid batteries have a minimum of approximately 500 discharge cycle. Enough to last at least one season of growing, and most of the second. Since both lithium ion batteries and lead – acid batteries are very recyclable this is not a consideration.</p>
</div>
