---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>Attack</h2>
    <p>
        Keeping knowledge centralized and locked-down stonewalls all of our learning, growth, and innovation.
        We chose to decentralize our final project; to move fast, break things, & pick up the pieces together 
        to build it better next time. 
        We are attacking the biggest obstacle in humanity's path: disposability culture pushed on us by centralized, 
        profit-seeking corporations. As university students, we have the privilege and power to create 
        localized, independent, and sustainable lives. 
    </p>
    
    <h2>Decay</h2>
    <p>
    </p>
    
    <h2>Sustain</h2>
    <p>
        Our webring is currently accepting any Western Washington University students
        (that may change as the project goes in scope). Movers & shakers preferred!
    </p>
    
    <h3>How to join</h3>
    <p>
        To join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site. If you publish a RSS feed, you can provide that as well.
    </p> <p>
        If you don't have a Github account, you can also use this form to sign up. 
        The webring admins will then look at your site and handle your request.
    </p>

    {% include 'signupform.njk' %}

    <h3>Add the banner</h3>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}
    
    <h2>Release</h2>
    <p>
        Most final project coursework will only gather dust after it's been graded. 
        Our results and experience will be compiled on this central site, but stored on a decentralized network of backups. 
        Expected Delivery: March 2020
    </p>
    
    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
